[submodule "elisp/external/gist.el"]
	path = elisp/external/gist.el
	url = https://github.com/mhayashi1120/gist.el.git
[submodule "elisp/external/rvm.el"]
	path = elisp/external/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "elisp/external/yaml-mode"]
	path = elisp/external/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "elisp/external/textmate.el"]
	path = elisp/external/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "elisp/external/rspec-mode"]
	path = elisp/external/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "elisp/external/evil"]
	path = elisp/external/evil
	url = git://gitorious.org/evil/evil.git
[submodule "elisp/external/markdown-mode"]
	path = elisp/external/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "elisp/external/rhtml"]
	path = elisp/external/rhtml
	url = git://github.com/eschulte/rhtml.git
